.container{
	display:flex;
	/* justify-content: center; */
	background-color: white;
	width:100%;
}

.productImage{
	/* width: auto;
	height:auto; */
	margin: 50px 0 50px 30px;
}

.detail-container{	
	display: flex;
	flex-direction: column;
	margin: 60px 0 0 30px;
}

.title{
	font-size: 27px;
	padding-bottom:20px;
	word-break: break-all;
}

.price{
	font-size: 27px;
	font-weight: 500;
	margin-left: 30px
}

.img {
	object-fit: contain;
	padding-top: 25px;
	height:300px;
	width:300px;
}

.item_detail {
	display: flex;
	flex-direction: column;
	margin: 20px 10px;
}

.item_title {
	padding: 15px 5px;
	display: flex;
	font-size: 16px;
	text-align: justify;
	word-break: break-all;
	font-weight: 500;
}

.cart-container {
	margin: 60px 0 0 30px;
	display:flex;
	flex-direction: column;
	/* justify-content: center; Center children vertically  */
	align-items: center; /* Center children horizontally */
	width:150px;
	height:300px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.addToCart_button {
	margin-top: 40%;
	background-color: #fde34e;
	border-radius: 20px;
	width: 140px;
	height: 30px;
	border-style: none;
	font-weight: 600;
}

.option-container{
	display:flex;
}

.productOptions {
	display: flex;
	align-items: center;
	gap: 20px;
	/* padding: 10px; */
}

.quatity_dropdown {
	padding: 10px 15px;
	margin-right: 10px;
	border: 1px solid #e5e5e5;
	appearance: none;
	/* remove default appearance */
	font-size: 16px;
	cursor: pointer;
}
/* Styles for mobile devices */
/* @media (max-width: 767px) {
	.product-image {
		display: block;
		margin-bottom: 20px;
	}

	.product-details {
		display: block;
	}
} */
/* Styles for tablets and above */
/* @media (min-width: 768px) {

	.product-image,
	.product-details {
		display: inline-block;
		vertical-align: top;
	}
} */